
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " th:href="@{/student/dashboard}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/student/activity_stream}">
                <i class="bi bi-broadcast"></i>
                <span>Activity Stream</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/exam-registration}">
                <i class="bi bi-file-earmark-plus"></i>
                <span>Exam registration</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/improvement}">
                <i class="bi bi-pencil-square"></i>
                <span>Improvement request</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-circle"></i><span>Student Information</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        </li>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a th:href="@{/marks}">
                    <i class="bi bi-circle"></i><span>Marks</span>
                </a>
            </li>
            <li>
                <a th:href="@{/modules}">
                    <i class="bi bi-circle"></i><span>Modules and courses</span>
                </a>
            </li>

        </ul>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/fees}">
                <i class="bi bi-currency-exchange"></i>
                <span>Fees</span>
            </a>
        </li>
        </li><!-- End Components Nav -->


        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/student/user-profile}">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-contact.html">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Log out</span>
            </a>
        </li><!-- End Login Page Nav -->


    </ul>

</aside><!-- End Sidebar-->
